.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.custom-calendar {
  margin-top: 40px;
  width: 300px;
  max-width: 100%;
  background-color: #f0f0f0; /* Cambia el color de fondo */
  border: 2px solid #3498db; /* Cambia el color del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 10px; /* Agrega bordes redondeados */
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.react-calendar__navigation button {
  background: #3498db; /* Cambia el color de fondo de los botones */
  color: #fff; /* Cambia el color del texto de los botones */
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px; /* Agrega bordes redondeados a los botones */
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #2184b5; /* Cambia el color de fondo al pasar el mouse o enfocar */
}

.react-calendar__month-view__weekdays {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3498db; /* Cambia el color de fondo del encabezado de los días de la semana */
  padding: 10px;
  font-weight: bold;
  color: #fff; /* Cambia el color del texto del encabezado de los días de la semana */
}

.react-calendar__month-view__weekdays__weekday {
  width: calc(100% / 7);
  padding: 5px;
  text-align: center;
}

.react-calendar__month-view__days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.react-calendar__tile {
  flex: 1 0 14.2857%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.react-calendar__tile--now {
  background-color: #ff5757;
  color: #fff;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #4aaee8;
  color: #fff;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeBoth {
  background-color: #4aaee8;
  color: #fff;
}

.react-calendar__tile--rangeStart:enabled:hover,
.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeBoth:enabled:hover {
  background-color: #3f9fd8;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--hover:enabled:hover {
  background-color: #3f9fd8;
}

.react-calendar__tile--neighboringMonth {
  color: #777; /* Cambia el color de los días de meses vecinos */
}

.react-calendar__tile--weekend {
  color: #e74c3c; /* Cambia el color de los días del fin de semana */
}
