/* Mapa.css */
.mapa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-container {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Estilos para el input de búsqueda */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
  }
  
  input[type="text"]:focus {
    border-color: #007BFF;
  }
  
  /* Estilos para el botón Limpiar */
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  