.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(190, 160, 118);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  z-index: 999;
  /* Agrega un índice z alto para asegurarte de que el navbar esté por encima de otros elementos */
}

.navigation-menu {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* Agrega un espacio interno para separar los elementos del navbar */
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin: 0 20px;
}

.navigation a {
  color: #414040;
  transition: color .3s;
}

.navigation a:hover {
  size: 100px;
}

/* Asegura que el contenido principal no se solape con el navbar */
.container {
  padding-bottom: 50px;
  /* Ajusta el valor según el alto del navbar para evitar que se solape con el contenido */
}