.notificaciones-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
}

.notificaciones {
  padding: 20px;
  border-radius: 10px;
}

.notificacion {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 20px; /* Aumenta la altura de la notificación */
  margin-bottom: 20px; /* Aumenta el espacio entre las notificaciones */
  border-radius: 10px;
}

.ver-mas {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Reduce el padding del botón para hacerlo más angosto */
  font-size: 14px; /* Reduce el tamaño de fuente del botón */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.ver-mas:hover {
  background-color: #0056b3;
}
